body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100px;
}

.App header h1{
  color:white;
  margin: 0;
}